#logo {
  text-align: center;
  border: 5px solid;
  border-top:0px ;
  background-color: #aeaeae;
  width: 200px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -100px;
  font-size: 40px;
}
#mainBlock {
  text-align: center;
  position: relative;
  margin-left: 50%;
  margin-left: -47.91px;
  margin-top:15%;
}
.input{
  border-radius: 20px;
  font-size: 20px;
}
.buttomOk {
  position: fixed;
  right: 90px;
  top:130px;
  width: 300px;
  height: 180px;
}
#trianglee {
width: 800px;
height:500px;
position: fixed;
right: -390px;
top: 60px;
transform: scale(1,-1);
}
#foot {
  position: fixed;
  bottom:0;
  width:100%;
  height:7%;
  margin-left: -8px;
  background-color: #aeaeae;
  opacity: 80%;
}
