#IlumIcon{
  position: relative;
  left: 40.8%;
}

#logIn{
  position: absolute;
  left:36%;
  top:40%;
  text-align: center;
}

#button{
  position: absolute;
  right: 5%;
  top: 42%;
  display: flex;
}

#buttonImg{
  height:20px;
  width:25px;
}

#eyeMasson{
  width: 35px;
  height: 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background:#000000;
  position: relative;
  z-index: 1;
  top: 30%;
  left: 41%;
  z-index: 1;
}

#eye{
  width: 35px;
  height: 35px;
  z-index: 1;
}

#moveEye{
  position: absolute;
  left: 60%;
  top: 9%;
}
